node_modules
__pycache__

svg-inkscape

*.pdf
*.log
*.swp
*.aux
*.bcf
*.log
*.out
*.xml
*.bbl
*.blg
*.fls
*_latexmk
*.xdv
*.toc
*.synctex.gz
*synctex(busy)
*_latexindent*

Test*

filter-out
output-tex/*
!output-tex/.gitkeep
!output-tex/input.pdf

.DS_Store
.envrc