node_modules
__pycache__
*.pyc

*.pdf
*.log
*.swp
*.aux
*.bcf
*.log
*.out
*.xml
*.bbl
*.blg
*.fls
*_latexmk
*.xdv
*.toc
*.synctex.gz
*synctex(busy)
*_latexindent*

Test*

filter-out
svg-inkscape
output-tex/*
!output-tex/.gitkeep
!output-tex/input.tex
!Content.pdf

.DS_Store
.envrc