/* Image with caption */

@import "numbered-images.less";

.define-images() {

    figure {
        text-align : center;
        padding-top: 18pt;

        img:before {
            content       : '';
            height        : 100%;
            display       : inline-block;
            vertical-align: middle;

        }

        img {
            padding       : 5px;
            display       : inline-block;
            vertical-align: middle;
            border        : 2pt solid #EEE;
        }

        figcaption {
            margin        : auto;
            padding-top   : 12pt;
            padding-bottom: 12pt;
            padding-left  : 18pt;
            padding-right : 18pt;
            font-size     : 12pt;
        }
    }
}