@import "defines.less";

.define-toc-style(@color: @main-heading-color, @fontSize: @main-font-size) {
    .define-title-style();
    font-size: @fontSize;
    line-height: @fontSize;

    ul li ul li a {
        font-size: 0.9 * @fontSize;
    }

    ul li ul li ul li a {
        font-size: 0.8 * @fontSize;
    }

    ul {
        padding-inline-start: 2ex;
        list-style-type: none;
    }

    li {
        color: @color;
    }

    a {
        color: @color;
        padding-top: 0.5ex;
        padding-bottom: 0.5ex;
        display: block;
        transition: 0.3s;
    }
}
