@font-face {
    font-family: 'Museo';
    src: url('Museo-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-900Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-500Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-700Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-100Italic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('Museo-300Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-weight: normal;
}

